<div class="container-fluid wrapper-content">
	<div class="container block-container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-lg-4 col-md-offset-4">
				<div class="box">
					<div class="icon">
						<img ng-if="empDetailList.image==null" class="image"
							src="public/images/default-person.png"> <img
							ng-show="empDetailList.image" class="image"
							ng-src="data:image/png;base64,{{empDetailList.image}}">
						<div class="info">
							<h3 class="title bold">{{empDetailList.employee_name}}</h3>
							<div class="col-md-12 col-sm-12 col-xs-12 text-center">
								<a class="btn btn-primary clear-button"
									ui-sref="designation({empId:empDetailList.employee_id,
                                 designation:empDetailList.designation_name,
                                 name:empDetailList.employee_name,
                                 project:empDetailList.project
                                 })">
									{{empDetailList.designation_name}}</a>
							</div>
							<div class="clear"></div>
							<div class="border"></div>
							<div class="col-md-6 col-sm-12 col-xs-12   text-left">
								<i class="fa fa-building mobile-icon" aria-hidden="true"></i>
								Accionlabs
							</div>
							<div class="col-md-6 col-sm-12 col-xs-12  text-right mobile-left"
								ng-show="empDetailList.location">
								<span class="glyphicon glyphicon-map-marker  mobile-icon"></span>
								{{empDetailList.location}}
							</div>
							<div class="col-md-6 col-sm-12 col-xs-12   text-left margin-10"
								ng-show="empDetailList.project">
								<i class="fa fa-book" aria-hidden="true"></i> <strong>
									<a
									ui-sref="project({empId:empDetailList.employee_id,
                                         project:empDetailList.project,
                                         name:empDetailList.employee_name})">
										{{empDetailList.project}}</a>
								</strong>
							</div>
							<div
								class="col-md-6 col-sm-12 col-xs-12  text-right margin-10 mobile-left pull-right"
								ng-show="empDetailList.reporting_to">
								Manager : <strong><a
									ui-sref="report({empId:empDetailList.employee_id,
                                         report:empDetailList.reporting_to,
                                         name:empDetailList.employee_name,
                                         reportById:empDetailList.reporting_to_by_id})">
										{{empDetailList.reporting_to|FilterNumber}}</a></strong>
							</div>
							<div class="clear"></div>
							<div class="border"
								ng-if="empDetailList.address1!=='0.0'&& empDetailList.address1!==''"></div>
							<div class="col-md-12 col-sm-12 col-xs-12   bold text-center"
								ng-if="empDetailList.address1!=='0.0'&& empDetailList.address1!==''">
								<i class="fa fa-globe" aria-hidden="true"></i>
								{{empDetailList.address1}}
							</div>
							<div class="clear"></div>
							<div class="border"
								ng-if="empDetailList.work_mobile_number!==0 && empDetailList.work_mobile_number!==''"></div>
							<div class="col-md-12 col-sm-12 col-xs-12 text-center bold"
								ng-if="empDetailList.work_mobile_number!==0 && empDetailList.work_mobile_number!==''">
								<span class="glyphicon glyphicon-phone"></span>
								{{empDetailList.work_mobile_number}}
							</div>
							<div class="clear"></div>
							<div class="border"
								ng-if="empDetailList.email_Id!=='0.0'&& empDetailList.email_Id!==''"></div>
							<div class="col-md-12 col-sm-12 col-xs-12 text-center bold"
								ng-if="empDetailList.email_Id!=='0.0'&& empDetailList.email_Id!==''">
								<span class="glyphicon glyphicon-envelope"></span>
								{{empDetailList.email_Id}}
							</div>
							<div class="clear"></div>
							<div class="border"
								ng-if="empDetailList.date_of_joining!=='0.0'&& empDetailList.date_of_joining!==''"></div>
							<div class="col-md-12 col-sm-12 col-xs-12 text-center bold"
								ng-if="empDetailList.date_of_joining!=='0.0'&& empDetailList.date_of_joining!==''">
								<span class="glyphicon glyphicon-calendar"></span> <Strong>Date
									Of Joining:</Strong> {{empDetailList.date_of_joining}}
							</div>
							<div class="clear"></div>
							<div class="border"></div>
							<div class="col-md-12 col-sm-12 col-xs-12 text-center bold">
								<div class="col-md-12 col-sm-12 col-xs-12 text-center bold">
									<a
										ng-href="http://aic.accionlabs.com/#/search/{{empDetails.email_Id}}"
										target="_blank">AIC Profile</a>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Boxes de Acoes -->
		</div>
	</div>
</div>
