
<div class="container-fluid wrapper-content1 chart-content">
	<div class="container block-container">
		<div class="row ">
			<h3 class="org bold">Organizational Chart</h3>
			<div class="content1">
				<figure class="org-chart cf">
					<ul class="departments ">
						<li class="department">
							<ul class="sections manager">
								<li class="section1" style="border-bottom: 0px"><span>
										<strong>

											<div class="clear"></div> <strong><a
												class="link-white" ui-sref="empDetails({empId:reportById})">
													{{report|FilterNumber}}</a></strong>
											<div class="clear"></div> <strong> Project Manager</strong><br />
											<div class="clear"></div>
								</span></li>
							</ul>
						</li>
						<div class="clear"></div>
						<li class="department sub-dep"
							>
							<ul class="sections">
								<li class="section sub-section project-name"><span
									id="project-color"> <strong><a
											ui-sref="project({empId:empOrgChart[0][0].empProjectList[0].employee_id,
         								project:empOrgChart[0][0].empProjectList[0].project,
         								name:empOrgChart[0][0].empProjectList[0].employee_name})">
												{{empOrgChart[0][0].project}}</a> [{{empOrgChart[0][0].empProjectList.length}}]</strong>

								</span></li>
								<li class="section sub-section frame-section"
									ng-repeat="empDetailsBymanager in empOrgChart[0][0].empProjectList">

									<span> <strong><a
											ui-sref="empDetails({empId:empDetailsBymanager.employee_id})">
												{{empDetailsBymanager.employee_name}}</a></strong>
										<div class="clear"></div> <strong><a
											ui-sref="designation({empId:empDetailsBymanager.employee_id,
                                 designation:empDetailsBymanager.department_name,
                                 name:empDetailsBymanager.employee_name
                                 })">
												{{empDetailsBymanager.department_name}}</a></strong>
										<div class="clear"></div> <strong><a
											ui-sref="project({empId:empDetailsBymanager.employee_id,
         								project:empDetailsBymanager.project,
         								name:empDetailsBymanager.employee_name})">
												{{empDetailsBymanager[3]}}</a></strong>
								</span> <span class="main-border"></span>
								</li>

							</ul>
						</li>
						<li
							ng-class="['department', 'sub-dep1','project-color{{$index%5}}',{'clear-sub':$index==6||$index==12},{'clear-margin-left':$index%6==0}] "
							ng-repeat="projectDetails in empOrgChart[0]" ng-hide="$first">
							<ul class="sections">
								<li
									ng-class="['section', 'sub-section1' ,'project-name','project-color{{$index%5}}',{'clear-sub':$index==6||$index==12}]">
									<span>
										<div>
											<strong><a
											ui-sref="project({empId:projectDetails.empProjectList[0].employee_id,
         								project:projectDetails.empProjectList[0].project,
         								name:projectDetails.empProjectList[0].employee_name})">
												{{projectDetails.project}}</a> [{{projectDetails.empProjectList.length}}]</strong>
								</span>
								</li>
								<li class="section sub-section1 frame-section"
									ng-repeat=" empDetails in projectDetails.empProjectList">

									<span> <strong><a
											ui-sref="empDetails({empId:empDetails.employee_id})">
												{{empDetails.employee_name}}</a></strong>
										<div class="clear"></div> <strong><a
											ui-sref="designation({empId:empDetails.employee_id,
                                 designation:empDetails.department_name,
                                 name:empDetails.employee_name
                                 })">
												{{empDetails.department_name}}</a></strong>
										<div class="clear"></div> <strong><a
											ui-sref="project({empId:empDetails.employee_id,
         								project:empDetails.project,
         								name:empDetails.employee_name})">
												{{empDetails.project}}</a></strong>
								</span> <span class="main-border"></span>
								</li>

							</ul>
						</li>

					</ul>
				</figure>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {

		$(".search-input").keypress(function() {
			$(".drop-contents").fadeIn();

		});

		$("body").click(function() {
			$(".drop-contents").fadeOut();

		});

		$('.search-panel .dropdown-menu').find('a').click(function(e) {
			e.preventDefault();
			var param = $(this).attr("href").replace("#", "");
			var concept = $(this).text();
			$('.search-panel span#search_concept').text(concept);
			$('.input-group #search_param').val(param);
		});
	});
</script>
