

<div class="clear"></div>
<div class="container-fluid building-header top-wrapper">
	<div class="container">
		<div
			class="text-center opacity col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2 ">
			<div class="input-group" id="adv-search">
				<input   type="text" class="form-control search-input"
					placeholder="Enter you Search" ng-model="name" required
					style="background-color: transparent;" />
				<div class="input-group-btn">
					<div class="btn-group" role="group">
						<div class="dropdown dropdown-lg">
							<button  type="submit" class="btn btn-primary iconic-search"
								ng-click="doSearch()">
								<span  class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</button>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
