
<header>
	<nav class="navbar navbar-inverse top-header">
		<div class="container">
			<div
				class="col-sm-3 col-xs-12 row  margin-top-10 margin-bottom-10 mobile-center">
				<img src="public/images/logo.png" alt="logo" class="logo" />
			</div>

			<div
				class="col-sm-9 col-xs-12 col-md-6  margin-top-10 margin-bottom-10 text-center">
				<h4 class="people bold margin-15 uppercase">
					<span class="color">People</span> @Accion
				</h4>
			</div>
		</div>
	</nav>
</header>
<div class="clear"></div>
<div class="container-fluid building-header top-wrapper">
	<div class="container">
		<div
			class="text-center opacity col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2 ">
			<div class="input-group" id="adv-search">
				<input   type="text" class="form-control search-input"
					placeholder="Enter you Search" ng-model="name" required
					style="background-color: transparent;" />
				<div class="input-group-btn">
					<div class="btn-group" role="group">
						<div class="dropdown dropdown-lg">
							<button  type="submit" class="btn btn-primary iconic-search"
								ng-click="doSearch()">
								<span  class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</button>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
