@media screen and (max-width: 767px) {
	.mobile-left {
		text-align: left;
		margin-top: 10px;
	}
	.mobile-center {
		text-align: center;
	}
	.top-wrapper {
		margin-top: 107px;
		position: relative;
		z-index: 1;
		background: url(../images/accion_top_leader.png) no-repeat !important;
	}
	.main-heading {
		font-weight: bold;
		margin-bottom: 20px;
		font-size: 20px;
		text-align: center;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.block-container {
		margin-top: 30px;
		width: 100%;
	}
}

@media screen and (min-width: 300px) and (max-width: 767px) {
	.org-chart ul.columnOne {
		width: 100% !important;
	}
	.sub-dep {
		margin-left: 5% !important;
	}
	.sub-section {
		margin-left: 0px !important;
	}
	.org-chart ul.columnOne li {
		width: 84% !important;
	}
	.org-chart .department {
		width: 100% !important;
		float: left;
		margin: 0px 2px;
	}
	.org-chart .department li {
		padding-left: 16px;
		border-bottom: 2px solid #666666;
		height: 80px;
		width: 90% !important;
	}
	.org-chart .department li.sub-section1 {
		margin-left: 1.7%;
		border-bottom: none;
	}
	li.sub-dep span.main-border, li.sub-dep1 span.main-border {
		left: 49% !important;
		z-index: 100 !important;
	}
	.org-chart .department li span {
		width: 100% !important;
	}
	li.sub-dep1 span.main-border {
		left: 50% !important;
	}
}
media
.css


Open
 
with
 
Drive
 
Notepad


Displaying
 
media
.css
.